<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233518520936-n1r0ki7o5g115vse59ckjf7lhkl00rqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233518520936-n1r0ki7o5g115vse59ckjf7lhkl00rqp</string>
	<key>API_KEY</key>
	<string>AIzaSyDSp0X_0SrjH97zxSISUwMNzH2OAeaVgzM</string>
	<key>GCM_SENDER_ID</key>
	<string>233518520936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.routing</string>
	<key>PROJECT_ID</key>
	<string>vehicle-routing-bdff9</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicle-routing-bdff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233518520936:ios:6556e1a80950803a4739dd</string>
</dict>
</plist>